extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/sendMail", method="get")
    .test
      label(for='name') Email:
      input#name.form-control(type='email', placeholder='Email Here' name='email')
    .test
      input#submit(type='submit', value='Send Email')
  form(action="/newAdmin" method="post")
    .test
      label(for='data') Data:
      input#data(type="text", name="random")
    .test
      input(type="submit", value="Send")